{% extends "base.html" %}

{% block content %}
<h1>Добавление новости!</h1>
<form class="login-form" method="post" novalidate>
    {% if message %}
        <p class="alert alert-danger">{{ message }}</p>
    {% endif %}
    {{ form.hidden_tag() }}
    <p>
        {{form.title.label}}<br>
        {{form.title(class="form-control")}}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger">{{error}}</p>
            {% endfor %}
    </p>
    <p>
        {{form.content.label}}<br>
        {{form.content(class="form-control")}}<br>
        {% for error in form.content.errors %}
    <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
    </p>
    <p>{{form.is_private}}&nbsp;{{form.is_private.label}}</p>
    <p>{{form.submit(class="btn-btn-primary")}}</p>
</form>
{% endblock %}
