{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>
<div class="py-3">
    {% if current_user.is_authenticated %}
    <a href="/add_news" class="btn btn-secondary">Добавить новость</a>
    {% endif %}
</div>
{% for item in news %}
<div class="row justify-content-md-center">
    <div class="col-md-9 border rounded">
        <div>
            <h2>{{item.title}}</h2>
        </div>
        <div>
            <p>{{item.content}}</p>
        </div>
        <div>
            <b>Автор</b>: {{item.user.name}}<br>
            <b>Дата публикации</b>: {{item.created_date.strftime('%d.%m.%Y в %H:%M.')}}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
